:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-family);
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

.link {
	color: #000;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}
